<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <!--  action = "." có tác dụng khi ấn submit thì nó sẽ load lại trang register.html-->
        <!-- GET là gửi đi parameter thì nó sẽ hiện ra thông tin trên đường dẫn  -->
        <!-- POST là gửi đi thì không hiện  -->
        <form action="." method="POST">
            <!-- csrf_token dùng để bảo mật thông tin -->
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Sign up" />
        </form>
    </center>
</body>

</html>