<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="stylesheet" href=" {% static 'css/update/login.css' %}" type="text/css">
    <link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}" type="text/css">

    <title>Register</title>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">
    <!--  action = "." có tác dụng khi ấn submit thì nó sẽ load lại trang register.html-->
    <!-- GET là gửi đi parameter thì nó sẽ hiện ra thông tin trên đường dẫn  -->
    <!-- POST là gửi đi thì không hiện  -->

    <form action="" method="post" class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <!-- csrf_token dùng để bảo mật thông tin -->
        {% csrf_token %}
        <p><label for="">Username:</label>{{ form.username }}</p>
        <p><label for="">Email:</label>{{ form.email }}</p>
        <p><label for="">Password:</label>{{ form.password1 }}</p>
        <p><label for="">Password again:</label>{{ form.password2 }}</p>
        <p><label for="">Address:</label>{{ form.address }}</p>

        <input type="hidden" name="next" value="/">
        <input type="submit" value="Sign up" class="btn btn-lg btn-primary btn-block">
        <p class="mt-2 mb-3 text-muted"><a class="nav-link" href="{% url 'login'%}">Log in</a></p>
    </form>
</body>

</html>